body {
  font-family: 'Roboto', sans-serif;
  color: #434455 ;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-align: center;
}

/* header */
.header{
 border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo{
  padding: 24px 0;
}
.header-logo-shift{
  color: #2e2f42;
}
.menu-list {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.menu-items-link:hover,
.contacts-items-link:hover {
  color: #404bbf;
}
.menu-items-link:active {
  text-decoration: underline;
  color: #404bbf;
  padding-bottom: 4px;
}
.contacts-items-link {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* hero */
.hero{
  background: #2e2f42;
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}
.button-hero {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.button-hero:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;  
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* TEAM */
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
}
.team-post {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-post {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
} 

/* footer */

.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-shift {
  color: #fff;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

